body, html {
  height: 100%;
}

.App-root {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-register-background {
  background: url("app/src/images/mbr-1602x1080.jpg") no-repeat center;
  background-size: cover;
  height: 94.1%;
}

.App-input-register {
  width: 100% !important;
}
.App-login-background {
  background: url("app/src/images/mbr-2-1620x1080.jpg") no-repeat center;
  background-size: cover;
  height: 94.1%;
}
